db.sqlite3
.idea
*.pyc
*.h5
*.hdf5
*.csv
*.bpmn
*.jpg
*.jpeg
*.png
uploads/
diagrams/
diagram_detector/flowchart_generator/test_cases/*
diagram_detector/flowchart_generator/results/*
diagram_detector/text_model/output/iam/puigcerver/validation/*
diagram_detector/text_model/images/Diagramas_pruebas_sin_preprocesamiento/*
diagram_detector/results/*
diagram_detector/dataset/*
bpmn_python_lib/images_input/*
bpmn_python_lib/images_output/*