contextvars==2.4
decorator==4.4.2
Django==3.1.6
django-bootstrap-form==3.4
django-bootstrap-modal-forms==2.1.0
django-filter==2.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
essential-generators==1.0
gast==0.2.2
graphviz==0.14
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
imageio==2.8.0
imgaug==0.4.0
immutables==0.15
importlib-metadata==3.4.0
imutils==0.5.3
joblib==1.0.0
jsonschema==2.6.0
Keras==2.3.1
Keras-Applications==1.0.8
keras-ocr @ git+https://github.com/faustomorales/keras-ocr.git@71fbec8c163ae035dfb89a8b936ac48385bb7482
Keras-Preprocessing==1.1.0
llvmlite==0.32.1
lxml==4.6.2
Markdown==3.2.2
MarkupSafe==1.1.1
networkx==2.1
numba==0.47.0
numpy==1.18.1
opencv-python==4.2.0.34
opt-einsum==3.3.0
pandas==1.2.4
pgi==0.0.11.2
Pillow==7.1.2
protobuf==3.14.0
psycopg2==2.8.6
pyclipper==1.1.0.post3
pydot==1.4.1
pydotplus==2.0.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
requests==2.23.0
rsa==4.7
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
sqlparse==0.4.1
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
urllib3==1.25.9
validators==0.15.0
