absl-py==0.11.0
asgiref==3.3.4
astor==0.8.1
attrs==21.2.0
blis==0.2.4
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
coloredlogs==15.0.1
contextvars==2.4
cycler==0.10.0
cymem==2.0.5
dataclasses==0.8
decorator==5.0.9
Django==3.2.4
django-bootstrap-form==3.4
django-bootstrap-modal-forms==2.1.0
django-filter==2.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
editdistance==0.5.3
efficientnet==1.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
essential-generators==1.0
Flask==1.1.2
fonttools==4.19.1
gast==0.2.2
google-auth==1.25.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.16
grpcio==1.35.0
gunicorn==20.0.4
h5py==2.10.0
humanfriendly==9.2
idna==2.10
imagecodecs==2020.2.18
imageio==2.8.0
imgaug==0.4.0
immutables==0.15
importlib-metadata==3.4.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
jsonschema==3.2.0
Keras==2.3.1
Keras-Applications==1.0.8
keras-ocr @ git+https://github.com/faustomorales/keras-ocr.git@71fbec8c163ae035dfb89a8b936ac48385bb7482
Keras-Preprocessing==1.1.0
kiwisolver==1.3.1
llvmlite==0.32.1
lxml==4.6.2
Mako==1.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
murmurhash==1.0.5
mysqlclient==2.1.0
networkx==2.1
#nl-description-to-bpmn @ file:///home/cdchushig/multiverse/nl-description-to-bpmn
nltk==3.5
numba==0.47.0
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pathy==0.4.0
pdf2image==1.15.1
pgi==0.0.11.2
Pillow==7.1.2
plac==0.9.6
preshed==2.0.1
protobuf==3.14.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.1.0.post3
pycparser==2.20
pydantic==1.7.3
pydot==1.4.2
pydotplus==2.0.2
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-Levenshtein==0.12.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
regex==2020.11.13
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.7
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
smart-open==3.0.0
spacy==2.1.3
spacy-legacy==3.0.1
sqlparse==0.4.1
srsly==1.0.5
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
thinc==7.0.8
tifffile==2020.9.3
tqdm==4.56.0
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.25.9
validators==0.15.0
vext==0.7.4
vext.gi==0.7.4
wasabi==0.8.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
