<!--{% load i18n %}-->
<!--{% trans alert %}-->
<!--{% load static %}-->

<footer class="footer grey-bg">
   ©2021 Diagram Guru

    <ul class="social-icons">
        <li><a href="https:/twitter.com/diagram_guru"><span class="icon-social-twitter transparent-text-dark"></span></a></li>
        <li><a href="https://www.facebook.com/diagram.guru"><span class="icon-social-facebook transparent-text-dark"></span></a></li>
        <li><a href="https://www.instagram.com/diagram.guru/"><span class="icon-social-instagram transparent-text-dark"></span></a></li>
        <li><a href="https://www.youtube.com/channel/UCbQmMFKPO7-86w4YAxll4ww"><span class="icon-social-youtube transparent-text-dark"></span></a></li>
        <li><a href=""><span class="icon-social-github transparent-text-dark"></span></a></li>
    </ul>

</footer>