{% load i18n %}
{% trans alert %}
{% load static %}

<div class="overlay-layer">
<div class="container" id="nav-main">
    <div class="row">
        <div class="col-md-6 text-left">
            <div class="intro-section">
                <h1 class="intro white-text">{% trans "This is a Beta version" %}</h1>
                <h4 align=justify class="transparent-text"><strong>{% trans "Welcome to the Diagram Guru website, an analytical tool that evaluates your diagrams in a variety of Modeling areas." %} </strong></h4>
                <div class="button hidden-xs">
                    <a href="#section1" class="btn btn-primary secondary-button">{% trans "Learn more" %}</a>
                </div>
            </div>
        </div>

        <div class="container">
            <br/>
            <div class="col-md-5">

                <div class="vertical-project-form">

                    <h5 class="dark-text form-heading"><strong>{% trans "There is a option to analyze your diagram now!" %}</strong></h5>

                    <div id="drop-area">
                    <form name="form" class="project-form" enctype="multipart/form-data" method="post" action="/#">
                        {% csrf_token %}
                        {% trans "Please, if you have a diagram in the computer, you can analyze it here:" %}
                        <input  name='diagram_file' type='file' class='filestyle' data-buttonText='Choose Diagram'>
                        <button id="upload" name='_upload' type="submit" class="btn btn-primary standard-button">{% trans "Analyze my diagram" %}</button>
                        {% csrf_token %}
                    </form>
                    </div>

                    <p class="file-error dark-text small-text">
                    {% trans "Error! Please choose a .jpg or .png file" %}</p>

                    {% if error %}
                        <br/>
                        <p><span class="icon icon-close-alt2"></span> {% trans "Error! Please choose a .jpg or .png file" %}</p>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</div>
</div>

<section id="section6" class="services grey-bg">
<div class="clients white-bg">
    <ul class="client-logos">
        <li>
            <a href="http://www.jku.at">
            <img src="static/app/img/logo_jku.png" alt="">
            </a>
        </li>
        <li>
            <a href="http://www.urjc.es">
            <img src="static/app/img/logoURJC.jpg" alt="">
            </a>
        </li>
        <li>
            <a href="http://www.jyu.fi/en">
            <img src="static/app/img/logo_jyu.jpeg" alt="">
            </a>
        </li>
    </ul>
</div>
</section>
