{% load i18n %}
{% trans alert %}
{% load static %}

<header id="home" style="background-position: 50% 40px;" class="header" data-stellar-background-ratio="0.3">
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top  sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-collapse collapse" id="stamp-navigation">
                  <a class="navbar-brand" href="/">
                    <img style="height: 100%; width: 100%; object-fit: contain" src="static/app/img/logo_diagramguru.png" alt="">
                  </a>
                  <ul class="nav navbar-nav navbar-left main-navigation small-text">
                    <li class="navbar-brand"><a href="#section1"><em>{% trans "Why?" %}</em></a></li>
                    <li class="navbar-brand"><a href="#section2"><em>{% trans "How?" %}</em></a></li>
                    <li class="navbar-brand"><a href="#section4"><em>{% trans "Contact us" %}</em></a></li>
                  </ul>

                {% if flagUser %}
                     <ul class="nav navbar-nav navbar-left main-navigation ">
                         <li class="navbar-brand"><a class="navbar-brand pull-left" href="/{{page}}/{{username}}"><span class="icon-basic-home colored-text"></span><em>{{ username }}</em></a></li>
                    </ul>
                {% else %}

                <!-- LOGIN REGISTER -->
                <ul class="nav navbar-nav navbar-right login-register small-text">
                  <ul class="nav navbar-nav navbar-left main-navigation ">
                    <li style="display: block;" class="login js-login dropdown">
                      <a aria-expanded="false" type="button" data-toggle="dropdown" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <span class="glyphicon glyphicon-book"><span class="icon-basic-world"></span></span>
                      </a>
                      <ul role="menu" class="dropdown-menu">
                        <li>
                        <div style="padding: 15px; padding-bottom: 10px;">
                        <form action="/i18n/setlang/" method="post" type="hidden">
                          {% csrf_token %}
                          <input name="next" type="hidden" value="{{ redirect_to }}" />
                          <select name="language" type="hidden">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                         <option style="padding: 15px;" type="submit" class='btn-group btn-group-justified colored-text' value="{{ language.code }}">{{ language.name }} ({{ language.code }})</option>
                        {% endfor %}
                      </select>
                      <input type="submit" value="Change language" class='btn-group btn-group-justified colored-text'/>
                      </form>
                    </div>
                  </li>
                </ul>
                  </li>
                  <li style="display: block;" class="login js-login dropdown">
                    <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle='modal' href='/signup'>{% trans "Sign up" %}</a>

<!--                    </a>-->
                    <ul role="menu" class="dropdown-menu">
                      <li>
                      <div style="padding: 15px; padding-bottom: 10px;">
                        <form accept-charset="UTF-8" action="/sign_up_coder" method="post">
                        {% csrf_token %}
                          {% trans "<input type='text' name='username' id='username' placeholder='Username' style='margin-bottom: 15px;'>" %}
                          {% trans "<input type='text' name='email' id='email' placeholder='Email' style='margin-bottom: 15px;'>" %}
                          {% trans "<input type='password' name='password' id='password' placeholder='Password' style='margin-bottom: 15px;'>" %}
                          {% trans "<input class='form-control' type='password' name='hashkey' id='hashkey' placeholder='Hashkey' style='margin-bottom: 15px;'>" %}
                          {% trans "<input type='submit' value='Sign up' id='sign-up' class='btn-group btn-group-justified colored-text'>" %}
                        </form>
                      </div>
                      </li>
                      </ul>
                    </li>


                  <li style="display: block;" class="login js-login dropdown">
                    <a aria-expanded="false" role="button" href="/login" data-toggle="dropdown" class="dropdown-toggle">{% trans "Sign in" %}</a>
                    <ul role="menu" class="dropdown-menu">
                      <li>
                      <div style="padding: 15px; padding-bottom: 10px;">
                        <form accept-charset="UTF-8" action="/login_coder" method="post">
                                      {% csrf_token %}
                          {% trans "<input type='text' name='username' id='username' placeholder='Username' style='margin-bottom: 15px;'>" %}
                          {% trans "<input type='password' name='password' id='password' placeholder='Password' style='margin-bottom: 15px;'>" %}
                        <div>
                            <a class="message" style="size: 5px;" href="/change_pwd">{% trans "I forgot my password" %}</a>
                        </div>
                          {% trans "<input type='submit' value='Sign in' id='sign-in' class='btn-group btn-group-justified colored-text'>" %}
                        </form>
                      </div>
                      </li>
                      </ul>
                    </li>

                    {% endif %}

                    <li style="display: none;" class="register-button js-register inpage-scroll">
                        <a href="#home" class="navbar-register-button">{% trans "Get Started" %}</a>
                    </li>
                </ul>


                </div>
            </div>
      </div>
</header>
