{% load i18n %}
{% trans alert %}
{% load static %}

<section id="section1" class="services grey-bg">

    <div class="container">
        <!-- SECTION HEADER -->
        <div class="section-header">

            <div class="small-text-medium uppercase colored-text">
                {% trans "WHY?" %}
            </div>
            <h2 class="dark-text"><strong>{% trans "Why " %} </strong>{% trans "you’ll love Diagram Guru" %}</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                <h3><em>{% trans "A powerful tool to create and digitalize your diagrams" %}</em></h3>
            </div>
        </div>

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInLeft;" class="col-md-4 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-social-dribbble-circle"></span>
                    </div>
                    <h3 class="colored-text">{% trans "Simple & Fun" %}</h3>
                    <p>
                        <h4>{% trans "Your students can easily learn how to improve their Modeling skills in a fun way." %}</h4>
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div style="visibility: visible; animation-duration: 1s; animation-name: flipInY;" class="col-md-4 wow flipInY animated" data-wow-offset="10" data-wow-duration="1s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-ecommerce-graph3"></span>
                    </div>
                    <h3 class="colored-text">{% trans "Improve your skills" %}</h3>
                    <p>
                        <h4>{% trans "We provide support creating and digitalizing diagrams to improve your modeling skills." %}</h4>
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div style="visibility: visible; animation-duration: 1.75s; animation-name: fadeInRight;" class="col-md-4 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.75s">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-software-pen"></span>
                    </div>
                    <h3 class="colored-text">{% trans "Always improving" %}</h3>
                    <p>
                       <h4>{% trans "We're continually enhancing the features of Diagram Guru, and we'd love to hear your thoughts" %}</h4>
                    </p>
                </div>
            </div>

        </div>
    </div>
        </section>
</section>
