{% extends 'base.html' %}

{% load i18n %}
{% trans alert %}
{% load static %}


{% block content %}

  {% include "_header_main.html" %}

  {% include "_form.html" %}

  <div id="pb" class="jumbotron">
    <div class="container">
            <p>
                <h2>
                    {% trans "Wait a moment, please." %}
                </h2>
            </p>
    </div>

<!--    <div class="container">-->
<!--        <img src="static/app/img/logo_main.png"/>-->
<!--    </div>-->


    <div class = "container">
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-danger" role="progressbar"
                aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"
                style="width: 99%">
                <span style="width: 99%">{% trans "loading..." %}</span>
            </div>
        </div>
    </div>

  </div>

  {% include "_why_diagram.html" %}

  {% include "_how_diagram.html" %}

  {% include "_footer.html" %}

{% endblock content %}


{% block extrascripts %}
  <script type="text/javascript">
      var holi = 'holi';
  </script>
{% endblock extrascripts %}
